/*
TODO mettre les bonnes tailles d'écran a jour
*/

* {
    -fx-maximum-red : #D62828;
    -fx-prussian-blue : #003049;
    -fx-orange : #F77F00;
    -fx-maximum_yellow : #FCBF49;
    -fx-cream : #EAE2B7;
    -fx-white-break : #F2F2F2;
    -fx-green : #27AE60;
    -fx-orange-gradient : linear-gradient(to top right, #F77F00 , #FCBF49);
}

.main-background{
    -fx-background-color:-fx-orange-gradient;
    -fx-font-family : 'Poppins'
}

.main-container {
    -fx-background-color: -fx-white-break;
    /* CONTAINER_SHADOW */
    -fx-padding: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 2, 0, 0, 2);
    -fx-border-radius: 4px;
}



.main-textfield {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 2, 0, 0, 2);
    -fx-padding: 5px;
    -fx-border-radius: 4px;
}

.main-button {
    -fx-border-radius: 2px;
    -fx-pref-height: 35px;
    -fx-text-fill: white;
    -fx-font-family : 'Poppins'

}





.main-button:hover {
    -fx-background-color: #467fd0;
}


.main-bg-red {
    -fx-background-color : -fx-maximum-red;
    -fx-text-fill : white
}

.main-bg-blue {
    -fx-background-color: #003049;
    -fx-text-fill: white;
}

.main-bg-orange {
    -fx-background-color: #f77f00;
    -fx-text-fill: white;
}

.main-text-orange {
    -fx-text-fill:  -fx-orange;
}

 .main-bg-red {
     -fx-background-color : -fx-maximum-red;
     -fx-text-fill : white
 }


.main-bg-disabled {
    -fx-background-color: #BDBDBD;
    -fx-text-fill: #676767 ;
}

.main-bg-cream {
    -fx-background-color: #EAE2B7;
    -fx-text-fill: #003049;
}

.main-bg-green {
    -fx-background-color: -fx-green;
}

.dialog-blur-bg {
    -fx-background-color: rgba(196,196,196,0.44);
}
.dialog-bg {
    -fx-background-color: -fx-prussian-blue;
}

 .main-bg-disabled {
     -fx-background-color: #BDBDBD;
     -fx-text-fill: #676767 ;
 }

 .main-bg-cream {
   -fx-background-color: #EAE2B7;
   -fx-text-fill: #003049;
 }

 .main-bg-green {
     -fx-background-color: -fx-green;
 }

 .dialog-blur-bg {
     -fx-background-color: rgba(196,196,196,0.44);
 }
 .dialog-bg {
     -fx-background-color: -fx-prussian-blue;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 2);
}

.dialog-title {
    -fx-background-color: -fx-maximum-red;
    -fx-text-fill: white;

    -fx-font-family: Poppins;
    -fx-font-weight: 800;
    -fx-font-size: 16px;

}

.menu-title {
    -fx-font-family: 'Marones';
    -fx-font-size: 50px;
}

.dialog-button {
    -fx-text-fill: white;
}

.dialog-error > .dialog-title {
    -fx-background-color: -fx-maximum-red;
}

.dialog-error > HBox > .dialog-button {
    -fx-background-color: -fx-maximum-red;
}

.dialog-success > .dialog-title {
    -fx-background-color: -fx-green;
}

.dialog-success > HBox > .dialog-button {
    -fx-background-color: -fx-green;
}

.dialog-warning > .dialog-title {
    -fx-background-color: -fx-orange;
}

.dialog-warning > HBox > .dialog-button {
    -fx-background-color: -fx-orange;
}

.dialog-content {
    -fx-text-fill: white;
    -fx-font-family: Poppins;
    -fx-padding: 5px 16px;
}



.waiting-room-top-container {
    -fx-padding: 16px;
}

/* latin */
@font-face {
    font-family: 'Marones';
    src: url('./Marones.ttf');
}



 .waiting-room-top-container {
     -fx-padding: 16px;
 }


 /* latin */
  @font-face {
    font-family: 'Marones';
    src: url('./Marones.ttf');
  }


.waiting-room-top-container > Label {
    -fx-font-size: 50px;
    -fx-font-family: 'Marones';
}

.waiting-room-param
{
    -fx-font-family: 'Poppins';
    -fx-font-weight: 500;
    -fx-font-style: normal;
    -fx-font-size: 14px;
}
.waiting-room-param-value {
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 17px;
}

.waiting-room-image {
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.waiting-room-id {
    -fx-text-fill: gray;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
}

.waiting-room-wait-label {
    -fx-font-size: 20;
    -fx-font-style: italic;
    -fx-font-weight: 500;
    -fx-text-fill: white;
}

.list-cell:filled:selected {
    -fx-background-color: -fx-background ;
    -fx-background-insets: 0 ;
}

.game-cell-container {
    -fx-background-color: -fx-prussian-blue;
    -fx-background-radius: 4px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 2, 0, 0, 2);
    -fx-font-family: 'Poppins';
    -fx-font-size: 14px;

}

.game-cell-name {
    -fx-font-weight: 900;
    -fx-font-style: italic;
    -fx-text-fill: -fx-maximum_yellow;
}

.game-cell-label {
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.game-cell-player {
    -fx-font-size: 13px;
    -fx-font-weight: 900;
    -fx-font-style: italic;
    -fx-text-fill: white;
}

.game-cell-id {
    -fx-text-fill: #C1C1C1;
    -fx-font-size: 12px;
}


.waiting-room-id {
    -fx-text-fill: gray;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
}

.waiting-room-wait-label {
    -fx-font-size: 20;
    -fx-font-style: italic;
    -fx-font-weight: 500;
    -fx-text-fill: white;
}



/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 100;

    src: url('Poppins-ExtraLightItalic.ttf') format('truetype');


  }




/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 200;

    src: url('Poppins-ThinItalic.ttf') format('truetype');

  }


/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;

    src: url('Poppins-LightItalic.ttf') format('truetype');

  }


/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;

    src: url('Poppins-Italic.ttf') format('truetype');

  }


/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;

    src: url('Poppins-MediumItalic.ttf') format('truetype');


  }


/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;

    src: url('Poppins-SemiBoldItalic.ttf') format('truetype');

  }


/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;

    src: url('Poppins-BoldItalic.ttf') format('truetype');

  }


/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;

    src: url('Poppins-ExtraBoldItalic.ttf') format('truetype');

  }


/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 900;

    src: url('Poppins-BlackItalic.ttf') format('truetype');

  }


/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;

    src: url('Poppins-ExtraLight.ttf') format('truetype');

  }


/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;

    src: url('Poppins-Thin.ttf') format('truetype');

  }


/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;

    src: url('Poppins-Light.ttf') format('truetype');

  }



/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;

    src: url('Poppins-Regular.ttf') format('truetype');

  }


/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;

    src: url('Poppins-Medium.ttf') format('truetype');


}



 
  /* latin */
  @font-face {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;

    src: url('Poppins-SemiBold.ttf') format('truetype');

}


  /* latin */
  @font-face {
>>>>>>> origin/feature/main/#19_waiting_room
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;

    src: url('Poppins-Bold.ttf') format('truetype');

  }


/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;

    src: url('Poppins-ExtraBold.ttf') format('truetype');

}


  
  /* latin */
  @font-face {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;

    src: url('Poppins-Black.ttf') format('truetype');

  }


